@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD Operations in MVC</h1>
    <a type="button" class="btn btn-primary" asp-controller="Employee" asp-action="Create">Register New Employee</a>
</div>
